.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
  border-radius: 10px;
  width: 1050px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.head {
  width: 100%;
  padding: 10px 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.toggle {
  position: absolute;
  font-size: 9px;
  width: 28px;
  height: 28px;
  top: 20px;
  right: 0;
}

button img {
  width: 20px;
  height: 20px;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

hr {
  width: 100%;
  border: 1px solid #c4c4c4;
}

.items-list {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  width: 90%;
  list-style: none;
  padding: 0 30px;
}

.item {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.item + .item {
  margin-top: 25px;
}

.img {
  width: 130px;
  height: 130px;
  border: 1px solid #c4c4c4;

  display: flex;
  align-items: center;
  justify-content: center;
}


img {
  width: 100px;
}

li span {
  display: block;
}

.product-title {
  width: 300px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.quantity {
  width: 30px;
  padding: 0 5px;
}

.price {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.discount {
  color: #c4c4c4;
  font-size: 13px;
}

.total-container {
  width: 85%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
}

.subtotal {
  color: #c4c4c4;
  font-size: 16px;
}

.free-shipping {
  height: 35px;
  width: 340px;
  background: #C7FFA6;
  color: #217b0c;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  padding: 10px 0;
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
